.dnd5e .form-group.grid > label {
  flex: 0 0 100%;
  margin: 0;
}
.dnd5e .form-group.grid label.number,
.dnd5e .form-group.grid label.checkbox,
.dnd5e .form-group.grid label.radio {
  flex: 19% 0;
  margin: 0 1% 0 0;
  text-align: left;
}
